body{
	margin: 0px;
	background-color: #FBDE06;
}

html {
  font-family: 'Roboto', sans-serif;
}

h3{
	font-size: 14px;
	margin: 0;
}

p{
	font-size: 12px;
	margin: 0;
}

.container{
}

.item{
	padding: 12px 25px 0px 25px;
	display: flex;
    align-items: center;
    overflow: hidden;
}
.div-item-img{
}

.item-img{
	width: 88px; 
	height: 88px;
	border-radius: 10px;
}
.item-img-out{
	filter: grayscale(1);
	border-radius: 10px;
}

.item-desc{
	display: block;
	flex: 1 0 0;
    align-items: center;
	padding: 12px;
}

.item-qtd{
	align-items: center;
	text-align: center;
	clear: right;
}

.quant{
	font-size: 14px;
	width: 20px;
	text-align: center;
	background: white;
	border: none;
	padding: 10px 0px;
	color: #000;
	-webkit-text-fill-color: #000;
	opacity: 1;
}
.quant-out{
	font-size: 14px;
	width: 20px;
	text-align: center;
	background: white;
	border: none;
	padding: 10px 0px;
	color: #555;
	-webkit-text-fill-color: #555;
	opacity: 1;
}

.max{
	text-align: center;
	background: white;
	font-size: 14px;
	color: black;
	width: 25px;
	border: none;
	padding: 10px 0px;
}

.btn{
	font-size: 16px;
	text-align: center;
	background: white;
	border: 1px lightgrey solid;
	width: 25px;
	height: 25px;
	border-radius: 8px;
	padding: 0px;
	-webkit-appearance: none !important;
	-moz-appearance: none !important;
	appearance: none !important;
}

.div_logo {
	background-color: #FBDE06;
	width: 100%;
	margin: 0px;
	padding: 20px 0px 10px 0px;
	z-index: 1;
	top: 0px;
	overflow:hidden;
}

.div_itens {
	width: 600px;
	margin: 0px auto;
	margin-bottom: 90px;
	background-color: white;
	border-radius: 30px;
	z-index: -1;
	left: 0px;
	top: 0px;
	padding-bottom: 25px;
}

.footer{
	font-size: 16px;
	height: 112px;
	width: 600px;
	position: fixed;
	margin: 0px auto;
	z-index: 2;
	bottom: 0;
	left: calc(50% - 300px);
	background-color: white;
	border-top: 1px solid #E8E8E8;
	-webkit-box-shadow: 0px -1px 30px 0px rgba(170, 170, 170, 0.43);
	-moz-box-shadow:    0px -1px 30px 0px rgba(170, 170, 170, 0.43);
	box-shadow:         0px -1px 30px 0px rgba(170, 170, 170, 0.43);
}

.btn_enviar{
	display: flex;
    justify-content: center;
    align-items: center;
	border-radius: 10px;
	width: 90%;
	height: 48px;
	background-color: black;
	color: white;
	text-decoration: none;
    margin-left: 5%;
    margin-bottom: 24px;
}
.price{
	border: none;
	background: white;
	width: 120px;
	color: #000;
	-webkit-text-fill-color: #000;
	opacity: 1;
}
.price-out{
	border: none;
	background: white;
	width: 120px;
	color: #555;
	-webkit-text-fill-color: #555;
	opacity: 1;
}
#lista{
	margin: 0px;
    list-style: none;
    padding: 0;
    padding-top: 12px;
}

#txt{
	display: block;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 5%;
	float: left;
}
#total{
	display: block;
	border: none;
	width: 200px;
	font-size: 16px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 5%;
	float: right;
	background: white;
	text-align: right;
	padding: 1px 0px;
	color: #000;
	-webkit-text-fill-color: #000;
	opacity: 1;
}
#btn_txt{
	margin-left: 10px;
}
#logo{
	width: 200px;
	padding-left: 24px; 
}

@media only screen and (max-width: 700px) and (min-width: 360px){
	body{
		width: 100%;
	}
	#logo{
		width: 50%; 
		height: 10%;
		padding-left: 24px; 
	}
	.div_itens {
  		margin: 0 auto;
		margin-bottom: 95px;
  		width: 100%;
	}
	.footer{
		width: 100%;
		left: 0px;
	}
}
@media only screen and (max-width: 359px){
	body{
		width: 100%;
	}
	#logo{
		width: 50%; 
		height: 10%;
		padding-left: 24px; 
	}
	.div_itens {
  		margin: 0 auto;
		margin-bottom: 95px;
  		width: 100%;
	}
	.footer{
		width: 100%;
		left: 0px;
	}
	.btn{
		font-size: 14px;
		text-align: center;
		background: white;
		-webkit-background: white;
		border: 1px lightgrey solid;
		width: 20px;
		height: 20px;
		border-radius: 8px;
	}
	.item-desc{
		padding: 2px;
		padding-left: 10px;
	}
	.item{
		padding: 12px 15px 0px 15px;
		display: flex;
	    align-items: center;
	    overflow: hidden;
	}
	.item-img{
		width: 78px; 
		height: 78px;
		border-radius: 10px;
	}
	.item-img-out{
		width: 78px; 
		height: 78px;
		border-radius: 10px;
	}
}